:root {
    /* Font code taken from modernfontstacks.com; prioritize instant rendering */
    /* Old Style font */
    --font-system: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    /* monospace code font */
    --font-system-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-system-code-size: 0.8rem;

    --background-color: white;

    --text-color: black;
    --text-color-mute: hsl(0, 0%, 40%);

    --link-color: darkblue;

    --nav-separator-color: aquamarine;
    --nav-background-color: hsl(160, 100%, 98%);

    --border-color: black;

    --code-text-color: var(--text-color);
    --code-text-color-bg: inherit;

    --panel-title-color: black;
    --panel-title-color-bg: cornsilk;
}
